<!DOCTYPE html>
<html>
    <head>
        <title>ElectPort</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container mt-5">
            <h1>Welcome to ElectPort!</h1>
            <h3>To pay your electricity bill</h3>
            <p>Select "Prepaid" if you load token on your meter.</p>
            <p>Select "Postpaid" if you get a bill at the end of the month.</p>

            <a href="{{ url_for('subscription') }}" class="btn btn-primary mt-3">Buy token</a>

        </div>
    </body>
</html>