<!DOCTYPE html>
<html>
    <head>
        <title>ElectPort Payment Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container mt-5">
            <h1>ElectPort Prepaid Electricity Payment</h1>
            <form method="POST">
                <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" step="any" class="form-control" name="amount" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
</html>