<!DOCTYPE html>
<html>
    <head>
        <title>Payment Success</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container mt-5">
            <h1>Payment Successfull</h1>
            <p>Input the following token in your meter's Customer Interface Unit (CIU).</p>
            <div class="alert alert-danger mt-3">
                <p><strong>Token:</strong><h5>{{ token }}</h5>Amount: {{amount }}</p>
            </div>
        </div>
    </body>
</html>